<!-- Navigation Inner -->
    <nav class="navbar navbarMedia" role="navigation">
        <div class="container text-center ">
            <div class="collapse navbar-collapse navbarMediaIn" id="">
                <ul class="nav navbar-nav centeredNav">
                    <li class="sliding-middle-out slidingActive">
                        <a href="" data-social="All">Mostrar Todos</a>
                    </li>
                    <li class="sliding-middle-out">
                        <a href="" data-social="TeMexe"><img class="teMexeLittleIcon" src="/img/miniCone.png" alt="">teMexe!</a>
                    </li>
                    <li class="sliding-middle-out">
                        <a href="" data-social="Twitter"><i class="fa fa-twitter-square"></i> Twitter</a>
                    </li>
                    <li class="sliding-middle-out">
                        <a href="" data-social="Instagram"><i class="fa fa-instagram"></i> Instagram</a>
                    </li>
                    <li class="sliding-middle-out">
                        <a href="" data-social="Facebook"><i class="fa fa-facebook-square"></i> Facebook</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
