<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Teste</title>
</head>
<body>
  <form action="/reclamacoes" method="post">
    <div>
      <label for="description">Descrição</label>
      <textarea cols="20" rows="10" id="description" name="description" placeholder="Fale sobre o problema"></textarea>
    </div>

    <input type="submit" value="Salvar">
  </form>

</body>
</html>
