<% include partials/head %>

<body>
    <% include partials/nav %>
    <% include partials/modais %>

    <!-- Full Width Image Header -->
    <header class="header-feed" id="top">
        <div class="bannerFeed">
            <div class="container">
                <h1 class="fontCursive">
                    <img class="picview-image img-circle img-responsive" src="img/logoNew.png">
                    te<span class="redStk">Mexe</span>!
                </h1>
            </div>
        </div>
    </header>

    <!-- Page Content -->

    <!-- <h1 class="text-center"><span class="redViz fontCursive">Feed</span>.</h1> -->

    <!-- FEED -->
    <div class="containerFeed">
        <div class="container ">
            <div class="row">
                <div class="grid">
                    
                    <!-- Dica -->
                    <div class="col-lg-3 col-md-4 col-sm-6 grid-item grid-sizer dataInstagram">
                        <div class="userPost">
                            <div class="mainPicture">
                                <a><img src="img/dicas/sinalVermelho.jpg"></a>
                            </div>
                            <div class="postContent">
                                <h1 class="tm">R$ 293,47</h1>
                                <p>Este é o quanto você paga por avançar no sinal vermelho além de receber 7 pontos na carteira. Não fure!</p>
                                <hr>
                            </div>
                            <div class="postData fontCursive">
                                <a href="#" title="Like"><i class="fa fa-heart-o"></i> 97</a>
                            </div>
                        </div>
                    </div>

                    <!-- Dica -->
                    <div class="col-lg-3 col-md-4 col-sm-6 grid-item dataInstagram">
                        <div class="userPost">
                            <div class="mainPicture">
                                <a><img src="img/dicas/contraMao.jpg"></a>
                            </div>
                            <div class="postContent">
                                <!-- <h1 class="tm">R$ 293,47</h1> -->
                                <p>Ciclista, não pedale na contramão!</p>
                                <hr>
                            </div>
                            <div class="postData fontCursive">
                                <a href="#" title="Like"><i class="fa fa-heart-o"></i> 97</a>
                            </div>
                        </div>
                    </div>

                    <!-- Dica -->
                    <div class="col-lg-3 col-md-4 col-sm-6 grid-item dataInstagram">
                        <div class="userPost">
                            <div class="mainPicture">
                                <a><img src="img/dicas/maoEsticada.jpg"></a>
                            </div>
                            <div class="postContent">
                                <!-- <h1 class="tm">R$ 293,47</h1> -->
                                <p>Estique o braço com as mãos abertas manifestando a intenção de atravessar.</p>
                                <hr>
                            </div>
                            <div class="postData fontCursive">
                                <a href="#" title="Like"><i class="fa fa-heart-o"></i> 97</a>
                            </div>
                        </div>
                    </div>

                    <!-- Dica -->
                    <div class="col-lg-3 col-md-4 col-sm-6 grid-item dataInstagram">
                        <div class="userPost">
                            <div class="mainPicture">
                                <a><img src="img/dicas/luzFreio.jpg"></a>
                            </div>
                            <div class="postContent">
                                <!-- <h1 class="tm">R$ 293,47</h1> -->
                                <p>Dê pequenos toques de aviso no freio para se comunicar com o condutor que vem atrás!</p>
                                <hr>
                            </div>
                            <div class="postData fontCursive">
                                <a href="#" title="Like"><i class="fa fa-heart-o"></i> 32</a>
                            </div>
                        </div>
                    </div>

                    <!-- Dica -->
                    <div class="col-lg-3 col-md-4 col-sm-6 grid-item dataInstagram">
                        <div class="userPost">
                            <div class="mainPicture">
                                <a><img src="img/dicas/acostamento.jpg"></a>
                            </div>
                            <div class="postContent">
                                <h1 class="tm">R$ 880,41</h1>
                                <p>Este é o quanto você paga por dirigir no acostamento além de receber 7 pontos na carteira!</p>
                                <hr>
                            </div>
                            <div class="postData fontCursive">
                                <a href="#" title="Like"><i class="fa fa-heart-o"></i> 32</a>
                            </div>
                        </div>
                    </div>

                    <!-- Dica -->
                    <div class="col-lg-3 col-md-4 col-sm-6 grid-item dataInstagram">
                        <div class="userPost">
                            <div class="mainPicture">
                                <a><img src="img/dicas/olheLados.png"></a>
                            </div>
                            <div class="postContent">
                                <!-- <h1 class="tm">R$ 880,41</h1> -->
                                <p>Tenha visibilidade, olhe para os dois lados.</p>
                                <hr>
                            </div>
                            <div class="postData fontCursive">
                                <a href="#" title="Like"><i class="fa fa-heart-o"></i> 32</a>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Dica -->
                    <div class="col-lg-3 col-md-4 col-sm-6 grid-item dataInstagram">
                        <div class="userPost">
                            <div class="mainPicture">
                                <a><img src="img/dicas/velocidade.jpg"></a>
                            </div>
                            <div class="postContent">
                                <h1 class="tm">R$ 880,41</h1>
                                <p>Este é o quanto você paga por dirigir com excesso de velocidade (50%) além de receber 7 pontos na carteira!</p>
                                <hr>
                            </div>
                            <div class="postData fontCursive">
                                <a href="#" title="Like"><i class="fa fa-heart-o"></i> 32</a>
                            </div>
                        </div>
                    </div>

                    <!-- Dica -->
                    <div class="col-lg-3 col-md-4 col-sm-6 grid-item dataInstagram">
                        <div class="userPost">
                            <div class="mainPicture">
                                <a><img src="img/dicas/faixaPedestre.jpg"></a>
                            </div>
                            <div class="postContent">
                                <h1 class="tm">R$ 130,16</h1>
                                <p>Este é o quanto você paga por parar na faixa de semestre além de receber 4 pontos na carteira!</p>
                                <hr>
                            </div>
                            <div class="postData fontCursive">
                                <a href="#" title="Like"><i class="fa fa-heart-o"></i> 32</a>
                            </div>
                        </div>
                    </div>



                </div> <!-- /grid -->
            </div> <!-- /row -->
            <div class="row text-center">
                <button class="btn btn-banner btn2 redViz fontCursive">Mais Dicas</button>
            </div>
        </div> <!-- /container -->
    </div><!-- /containerFeed -->

    <div class="container">
        <!-- <hr class="picview-divider"> -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; teMexe! 2016. Created by <a href="#">Manga com Leite</a>.</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/scripts.js"></script>

</body>

</html>
